&.movie-list {
  height: 50rem;
  overflow-y: auto;

  list-style: none;

  .movie-list-item {
    margin: 2rem 0;
  }

  hr {
    margin: 1rem;

    border: none;
    border-bottom: 0.1rem solid #cccccc;

    &:last-child {
      display: none;
    }
  }
  .btn {
    background-color: #008CBA;
    outline: none;
    border: none;
    color: white;
    padding: 11px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}